extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    ol
      each val in todos
        li
          .todo-row
            span.task-text= val.task + ' - ' + (val.completed > 0? 'Completed' : 'Not Completed')

            .button-group
              button(type='button', onclick='showEditForm(' + val.id + ')') Edit
              form(method='POST' action='/delete' style='display: inline;')
                input(type='hidden', name='id', value=val.id)
                button.delete-btn(type='submit') Delete

          form.edit-form(method='POST' action='/edit' id='edit-form-' + val.id style='display: none;')
            input(type='hidden', name='id', value=val.id)
            input(type='text', name='task', value=val.task, required)
            
            label
              input(type='checkbox', name='completed', checked=val.completed > 0)
              | Completed

            button(type='submit') Save 
            button(type='button', onclick='hideEditForm(' + val.id + ')') Cancel



    hr
    h2 Add a new task
    form(method='POST' action='/create')
      label(for='task') Task:
      input(type='text', name='task', id='task', required)
      button(type='submit') Create Task

    script.
      function showEditForm(id) {
        document.getElementById('edit-form-' + id).style.display = 'block';
      }

      function hideEditForm(id) {
        document.getElementById('edit-form-' + id).style.display = 'none';
      }
